@model WestdalePharmacyApp.Models.PrescriptionViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Prescription</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Prescription.ImageFile)
    </dt>
    <dd class="col-sm-10">

        @{
            var base64 = Convert.ToBase64String(Model.Prescription.ImageFile);
            var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
        }
        <img src='@imgSrc' style="max-width:500px;max-height:500px" />


    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ApplicationUser.FirstName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ApplicationUser.LastName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ApplicationUser.LastName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ApplicationUser.BirthDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ApplicationUser.BirthDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ApplicationUser.Gender)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ApplicationUser.Gender)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ApplicationUser.Allergies)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ApplicationUser.Allergies)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ApplicationUser.HealthCard)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ApplicationUser.HealthCard)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ApplicationUser.InsuranceNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ApplicationUser.InsuranceNumber)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ApplicationUser.PhoneNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ApplicationUser.PhoneNumber)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ApplicationUser.AddressLine1)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ApplicationUser.AddressLine1)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ApplicationUser.AddressLine2)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ApplicationUser.AddressLine2)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ApplicationUser.City)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ApplicationUser.City)
    </dd>


</dl>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditA">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Prescription.PrescriptionId" />


                <div class="form-group">
                    <label asp-for="Prescription.RefillAvailable" class="control-label"></label>
                    <input asp-for="Prescription.RefillAvailable" class="form-control" />
                    <span asp-validation-for="Prescription.RefillAvailable" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Prescription.Status" class="control-label"></label>
                    <select asp-for="Prescription.Status" class="form-control">
                        <option value="Not Set">Not Set</option>
                        <option value="In Process">In Process</option>
                        <option value="Completed">Completed</option>
                    </select>
                    <span asp-validation-for="Prescription.Status" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Prescription.CreationTime" class="control-label"></label>
                    <input asp-for="Prescription.CreationTime" class="form-control" disabled />
                    <span asp-validation-for="Prescription.CreationTime" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Prescription.SpecialInstruction" class="control-label"></label>
                    <input asp-for="Prescription.SpecialInstruction" class="form-control" />
                    <span asp-validation-for="Prescription.SpecialInstruction" class="text-danger"></span>
                </div>
                @*<div class="form-group">
            <label asp-for="Prescription.UserId" class="control-label"></label>
            <select asp-for="Prescription.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            <span asp-validation-for="Prescription.UserId" class="text-danger"></span>
        </div>*@
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
